
.toast {
    opacity: 1 !important;
    box-shadow: none !important;
}

.toast-container > div{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    color: #F4F4F4;
}

.result-performance {
    color: #00F9FF;
}

.milisecond-speed {
    color: rgb(171, 171, 171);
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-top: 4px !important;
}

.text-red {
    color: #00F9FF;
}

.text-main {
    color: black;
}

.bg-light-costum {
    background: #CDF0EA;
}

.bg-dekripsi-costum {
    background: #EFEFEF;
}

.text-main:hover {
    color: black;
}

.border-costum {
    border-top: 0.5px solid rgb(201, 201, 201);
}

.box-success {
    /* display: inline; */
    margin: 5px;
    width: 15px;
    height: 15px;
    background: greenyellow;
}

.box-failed {
    /* display: inline; */
    margin: 5px;
    width: 50px;
    height: 50px;
    background: red;
}